<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianshang.rmq.biz.mapper.MessageRecordMapper">

	<resultMap id="MessageRecordResult" type="MessageRecordEntity">
		<id property="id" column="id" />
        <id property="messageId" column="message_id"/>
		<id property="topic" column="topic" />
		<id property="producerId" column="producer_id" />
		<id property="birthTime" column="birth_time" />
		<id property="content" column="content" />
		<id property="validity" column="validity" />
		<id property="createTime" column="create_time" />
		<id property="updateTime" column="update_time" />
	</resultMap>

	<sql id="tbl_name">
		rmq_message_record
	</sql>

	<sql id="select_sql">
		select id, message_id, topic, producer_id, birth_time, content, validity, create_time, update_time from <include refid="tbl_name"/>
	</sql>

	<insert id="insert" parameterType="MessageRecordEntity" useGeneratedKeys="true" keyProperty="entity.id">

		insert into <include refid="tbl_name" />
		(
            message_id,
			topic,
			producer_id,
			birth_time,
			content
		)
		values
		(
            #{entity.messageId},
			#{entity.topic},
			#{entity.producerId},
			#{entity.birthTime},
			#{entity.content}
		)

	</insert>

	<select id="load" parameterType="map" resultMap="MessageRecordResult">

		<include refid="select_sql"/>
		where id = #{id}

	</select>

	<update id="update" parameterType="map">

		update <include refid="tbl_name"/> set
            message_id = #{entity.messageId},
			topic = #{entity.topic},
			producer_id = #{entity.producerId},
			birth_time = #{entity.birthTime},
			content = #{entity.content}
		where id = #{entity.id}

	</update>

	<select id="queryCount" parameterType="map" resultType="int">

		select count(1) from <include refid="tbl_name"/>

	</select>

	<select id="query" parameterType="map" resultMap="MessageRecordResult">

		<include refid="select_sql"/>
		limit #{offset}, #{pageSize}

	</select>

</mapper>
