<div class="modal-dialog no-margins">
    <div class="modal-header">
        <h4 class="modal-title">是否确认发送短信？</h4>
    </div>
    <div class="modal-body">
        <h4>手机号码</h4>
        <p class="break-word-wrap">{{modal.mobileNos}}</p>
        <h4>短信内容</h4>
        <p class="break-word-wrap">{{modal.smsContent}}</p>
    </div>
    <div class="modal-footer">
        <span class="m-t-xs pull-left">要么全部发送成功，要么全部发送失败。</span>
        <button type="button" class="btn btn-w-sm btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-w-sm btn-primary" ng-click="ok()">确定</button>
    </div>
</div>
