<div class="wrapper wrapper-content animated fadeInRight">
<div class="modal-header">
    <h4 class="modal-title">{{modal.modalName}}</h4>
</div>
<div class="modal-body">

<div class="row form-group">
    <div class="col-md-12">
        <div class="form-group m-b-none">
            <label class="col-md-2 col-md-offset-1 control-label" for="title">{{modal.titleName}}</label>
            <div class="col-md-8">
                <input type="text" name="title" class="form-control"
                       ng-model="modal.title" required>
            </div>
        </div>
    </div>
</div>


<div class="row form-group">
    <div class="col-md-12">
        <div class="form-group m-b-none">
            <label class="col-md-2 col-md-offset-1 control-label" for="content">{{modal.contentName}}</label>
            <div class="col-md-8">
                <textarea type="text" name="content" class="form-control"
                          ng-model="modal.content" required></textarea>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-w-sm btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-w-sm btn-primary"
                ng-click="ok()" ng-disabled="okBtnDisabled">保存
        </button>
    </div>
</div>
</div>
</div>

