<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu">
            <li class="nav-header">
                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{user.trueName}}</strong>
                            </span>
                        </span>
                    </a>
                    <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">登出</a></li>
                    </ul> -->
                </div>
                <div class="logo-element">
                    <a href="#">{{appName}}</a>
                </div>
            </li>
        </ul>

<!--        <ul side-navigation class="nav metismenu" id="side-menu" ng-repeat="menu in authMenuList">
            <li ng-class="{active: $state.includes('coupon-mgmt')}">
                <a href=""><i class="fa fa-money"></i> <span class="nav-label">{{menu.menuname}}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('coupon-mgmt')}"
                    ng-repeat="subMenu in menu.subMenuList">
                    <li ui-sref-active="active"><a ui-sref="coupon-mgmt.coupon-query">{{subMenu.menuname}}<span
                            class="label label-info pull-right">NEW</span></a></li>
                </ul>
            </li>
        </ul>-->
        <ul side-navigation class="nav metismenu" id="side-menu">

            <li ui-sref-active="active" ng-class="{in: $state.includes('topic-mgmt.query')}"><a ui-sref="topic-mgmt.query">Topic管理</a></li>

            <li ui-sref-active="active" ng-class="{in: $state.includes('record.query')}"><a ui-sref="record.query">消息记录</a></li>

        </ul>
    </div>
</nav>